*{
  margin: 0px;
  padding: 0px;
}
html,body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #000000;
}
.main{
  height: 500px;
  width: 300px;
  background-color: rgb(3, 13, 61);
  margin:30px auto;
  border-radius: 10px;
  box-shadow: 0px 6px 36px;
}
.output{
  height: 150px;
  width: 100%;
  background-color: rgb(3, 13, 61);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.output input{
  height: 150px;
  width: 100%;
  background-color: rgb(3, 13, 61);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  color: azure;
  font-size: 50px;
}
.contain{
  height: 350px;
  width: 100%;
  background-color: rgb(1, 6, 32);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.row1{
  height: 60px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
}
.row2{
  height: 60px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
}
.row3{
  height: 60px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
}
.row4{
  height: 60px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
}
.row5{
  height: 60px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
}
button{
  height: 55px;
  width: 50px;
  background-color: rgba(1,6,32);
  color: aqua;
  margin-left: 15px;
  text-align: center;
  padding-top: 4px;
  cursor: pointer;
  border: none;
  
  
}
span{
  color: aqua;
  font-size: 30px;
}