*{
  font-family: Arial,Helvetica,sans-serif;
}
body, html{
  box-sizing: border-box;
}
.section{
  display: flex;
  justify-content: center;
  width: 100%;
}
.border{
  /* border: 2px solid black; */
  width: 70%;
}
.main_nav{
  width: 100%;
  background-color: rgb(171, 24, 61);
  height: 200px;
  display: flex;
  align-items: center;
  gap: 8vw;
  padding-left: 20px;
  box-sizing: border-box; 
}
.nav_text {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 0px;
}
.nav_text p{
  font-size: 3vw;
  font-weight: 700;
  color: #fff;
}
.nav_text a{
  font-size: 2vw;
  text-decoration: none;
  color: #fff;
}
.nav_item{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%/7;
}
.nav_item a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
.nav_item button{
 background-color: #000000;
 height: 100%;
 width: 14%;
}
.text_2024{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.text_2024 p:nth-last-child(1){
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: red;
}
.marquee{
  text-align: center;
}
.marquee a{
  color: rgb(79, 79, 243);
  font-weight: 700;
}
.highLight {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 100px;
  width: 100%;
}
.one, .tow {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}
.one a, .tow a {
  flex: 1;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.one .box1 { background-color: #2a1bff; }
.one .box2 { background-color: #ff1f1f; }
.one .box3 { background-color: #58ea33; }
.one .box4 { background-color: #ff5c1c; }
.tow .box1 { background-color: #32ffcc; }
.tow .box2 { background-color: #1de545; }
.tow .box3 { background-color: #8a2240; }
.tow .box4 { background-color: #9c2cff; }
.job_update{
  display: flex;
  justify-content: space-between; 
  width: 100%;
  margin-top: 100px;
  gap: 10px;
  position: relative;
}
.result{
  width: 25%;
  height: 100%;
  border: 2px solid black;
  margin: auto;
  gap: 10px;
}
.result ul{
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.result p{
  height: 30px;
 font-size: 25px;
 font-weight: 700;
 color: #fff;
 text-align: center;
 background-color: rgb(171, 24, 61);
margin-top: 0px;
}
.admision{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}
.result1{
  width: 17.2vw;
  height: auto;
  border: 2px solid black; 
  margin-inline: 38px;
  position: relative;
}
.result1 p{
  height: 30px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: rgb(171, 24, 61);
  margin-top: 0px;
}
.result1 ul{
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.main_admin{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.result h3, .result1 ul h3{
 padding: 0px 10px;
 text-align: end;
 margin-bottom: 5px;
}
